# OS junk files
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYLE.BIN/

# dev tools
*.swp
tags
.tern-port
.tmp
.sass-cache
compile_commands.json
.vscode
.ninja_*
lex.yy.c
y.tab.*

# java git ignore
*.class
.classpath
.project
.settings
.gradle
.cache-main
.idea
.factorypath
target

*.iml
*.iws
*.ipr
out

# node.js projects
node_modules
bower_components
npm-debug.log
yarn-debug.log*
yarn-error.log*
package-lock.json

# iOS / OS X project (Xcode, CocoaPods)
DerivedData
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
Pods/
Podfile.lock

# python projects
__pycache__/
*.py[cod]
*$py.class
.Python
target/
.coverage
.coverage.*
.cache

