<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scratch.database.MyBatisMapper">
  <select id="selectAll" resultType="scratch.database.UserEntity">
  SELECT id, name FROM users 
  </select>
</mapper>
