<?xml version="1.0" encoding="UTF-8"?>
<beans>
  <bean name="BeanOne" class="hun.beans.BeanOne">
    <property name="name" value="one"/>
    <property name="beanTwo" ref="BeanTwo"/>
  </bean>

  <bean name="BeanTwo" class="hun.beans.BeanTwo" scope="prototype">
    <property name="num" value="88"/>
  </bean>

  <bean name="User" class="hun.component.UserImpl" />

  <bean name="beforeAdvice" class="hun.component.UserBeforeAdvice" />
  <bean name="afterAdvice" class="hun.component.UserAfterAdvice" />
  <bean name="UserProxyBefore" class="hun.aop.ProxyFactoryBean">
    <property name="target" ref="User" />
    <property name="interceptor" ref="beforeAdvice" proxyInterface="hun.component.User"/>
  </bean>
  <bean name="UserProxyAfter" class="hun.aop.ProxyFactoryBean">
    <property name="target" ref="User" />
    <property name="interceptor" ref="afterAdvice" />
  </bean>
</beans>
